@use 'variables';
@use 'mixins';

body {
  margin: 0;
  font-family: variables.$font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
